/* RESET RULES */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul, ol, menu{
    list-style: none;
    margin: 0;
}

a{
    text-decoration: none;
    color: currentColor;
}

img{
    max-width: 100%;
}


/* UTILITIY */

.bg-darkblue{
    background-color: #2C3E50;
}

.bg-blue{
   background-color: #3A546D; 
}

.bg-watergreen{
    background-color: #1ABC9C;
}


.text-watergreen{
    color: #1ABC9C;
}

.text-darkblue{
    color: #2C3E50;
}







/* LAYOUT */

.avatar{
    width: 230px;
    height: 260px;
}


.social-icon{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    border-radius: 50%;
}


.about__text{
    display: inline-block;
}




.nav__menu__items{
    background-color: #2C3E50;
    text-align: left;
    display: block;
    position: absolute;
    transform: translateX(-25px);
    width: fit-content;
    padding: 0;
    z-index: -1;
    transform: translateX(-55px);
}

.ciao:hover{
    border: 1px solid white;
    border-radius: 3px;
    cursor: pointer;
}

.ciao:hover + .nav__menu__items{
    z-index: 99;
}

.nav__menu__items:hover{
    z-index: 99;
}





/* About Text */

@media (max-width: 991px){
    .about__text{
        max-width: calc(100%/12*7);
        margin-bottom: 32px;
        margin-left: 25%;
    }
}




@media (min-width: 992px){
    .double-col{
        column-count: 2;
    }
}

/*____________*/






/* BEFORE / AFTER */

.star::after{
    content: "";
    height: 3px;
    width: 70px;
    background-color: currentColor ;
    display: inline-block;
    transform: translateY(-12px);
}


.star::before{
    content: "";
    height: 3px;
    width: 70px;
    background-color: currentColor;
    display: inline-block;
    transform: translateY(-12px);
}

/* DEBUG */

/* .debug [class*=col]{
    border: solid 1px red;
} */