/* RESET RULES */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul, ol, menu{
    list-style: none;
    margin: 0;
}

a{
    text-decoration: none;
    color: currentColor;
}

img{
    max-width: 100%;
}


/* UTILITIY */

.bg-darkblue{
    background-color: #2C3E50;
}

.bg-blue{
   background-color: #3A546D; 
}

.bg-watergreen{
    background-color: #1ABC9C;
}


.text-watergreen{
    color: #1ABC9C;
}

.text-darkblue{
    color: #2C3E50;
}



.double-col{
    column-count: 2;
}



/* LAYOUT */

.avatar{
    width: 230px;
    height: 260px;
}


.social-icon{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    border-radius: 50%;
}










/* BEFORE / AFTER */

.star::after{
    content: "";
    height: 3px;
    width: 70px;
    background-color: currentColor ;
    display: inline-block;
    transform: translateY(-12px);
}


.star::before{
    content: "";
    height: 3px;
    width: 70px;
    background-color: currentColor;
    display: inline-block;
    transform: translateY(-12px);
}

/* DEBUG */

/* .debug [class*=col]{
    border: solid 1px red;
} */