/* RESET RULES */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul, ol, menu{
    list-style: none;
    margin: 0;
}

a{
    text-decoration: none;
    color: currentColor;
}

img{
    max-width: 100%;
}


/* UTILITIY */

.bg-darkblue{
    background-color: #2C3E50;
}

.bg-blue{
   background-color: #3A546D; 
}

.bg-watergreen{
    background-color: #1ABC9C;
}


.text-watergreen{
    color: #1ABC9C;
}


.avatar{
    width: 230px;
    height: 260px;
}


.wh50{
    width: 50px;
    height: 50px;
}





/* BEFORE / AFTER */

.star::after{
    content: "";
    height: 3px;
    width: 70px;
    background-color: currentColor ;
    display: inline-block;
}


.star::before{
    content: "";
    height: 3px;
    width: 70px;
    background-color: currentColor;
    display: inline-block;
}

/* DEBUG */

/* .debug [class*=col]{
    border: solid 1px red;
} */